@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

input {
  margin: 2rem;
  padding: 1rem;
  width: 50%;
  border: 2px solid black;
  border-radius: 1rem;
}

.output {
  margin: auto;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  width: 50%;
}

h1 {
  color: cyan;
}

h2 {
  padding: 1rem;
  color: cyan;
}
